NEXT_PUBLIC_IDENTITY_REGISTRY_ADDR=
NEXT_PUBLIC_INVITE_REGISTRY_ADDR=
NEXT_PUBLIC_MESSAGE_STORE_ADDR=
NEXT_PUBLIC_PAYMENT_ROUTER_ADDR=
NEXT_PUBLIC_VOTING_MODULE_ADDR=
NEXT_PUBLIC_CHAIN_ID=11155111
NEXT_PUBLIC_FHEVM_NETWORK=testnet
NEXT_PUBLIC_GRAPH_URL=
NEXT_PUBLIC_PUSH_CHANNEL_ADDR=
NEXT_PUBLIC_IPFS_GATEWAY=https://ipfs.io/ipfs
NEXT_PUBLIC_APP_BASE_URL=https://echatz.app
IPFS_API_KEY=
GELATO_API_KEY=
